body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.container > *{
    box-shadow: 0 0 3px gray
}
.page{
    width: 60%;
    min-height: 500px;
}
.components{
    width: 30%;
    min-height: 500px;
    border-radius: 8px;
}
.btn{
    border-radius: 8px;
    margin: 10px;
}